.tip {
	margin-top: 20px;
}
.tip p {
	color: rgb(153, 153, 153);
}
.question {
	font-size: 1.8rem;
}
.ad {
	margin: 2rem auto;
}
.ad img {
	max-width: 100%;	
}
.answer .btn-block {
	text-align: left;
}
.answer .btn-back {
	margin-top: 5px;
}
.caption {
	font-size: 3rem;
}
.result .btns {
	text-align: center;
}
.result .share-text {
	margin-top: 10px;
	text-align: center;
	color: rgb(241, 129, 24);
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}
